# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.expo/
.expo-shared/
.expo-dev/
.expo-packager-cache/
.cache/
.parcel-cache
.temp
.svelte-kit/
.vitepress/cache
.vuepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

# Build output
dist/
web-build/
build/
android/app/build/
ios/build/
.next
out
.nuxt
public

# Native
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*.local
!.env.example

# TypeScript
*.tsbuildinfo

# Dependency directories
node_modules/
dist
*.log
bower_components/
jspm_packages/
web_modules/

# Optional caches
.npm
.eslintcache
.stylelintcache
.yarn-integrity
.pnp.*
.yarn/*

# Other
.lock-wscript
build/Release
.node_repl_history
*.tgz
.vscode-test
